/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
:root{
    --orange: #ff5722;
    --darkblue: #273c5d;
    --lightgreen: #65ffdb;
}

/*Global*/
html{ overflow: hidden; }
html,body,.wrapper{ height: 100%; }


/*Layout*/
.wrapper{ 
        display: grid; 
        grid-template-columns: 100% auto;
    }

    .wrapper-80{ grid-template-columns: 80% auto; }
    .wrapper-100{ grid-template-columns: 100% auto; }
    

    [data-devices="desktop"] .wrapper{
        grid-template-columns: 80% auto;
    }

    [data-devices="mobile"] .wrapper{
         grid-template-columns: 100% auto;
     }


.main{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,#182b4a, #101c2f,#1155bd);
    height: 100%;
}

/*Color BG*/
.bg-orange{ background: var(--orange);}


/*Toolbar*/
.toolbars{
    position: relative;
    width: 100%;
}
    .toolbars ul{ 
        line-height: .5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
     }

    .toolbars .icon{ 
            width: 100%;
            display: inline-block;
            text-align: center;
            padding: 14px;
        }

        .toolbars .icon:hover{
            background: #ff6c3e;
        }

    .toolbars .icon img{
        width: 100%;
        height: 30px;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }

      .toolbars .icon i{
          font-style: normal;
          color: #fff;
          font-size: .9rem;
      }



/*Rows*/
.top-rows{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    /*1.6: 1 ratio*/
    .top-rows div{
        position: relative;
        width: 250px;
        height: 100%;
        }

         .top-rows div img{ width: 100%; }

    .top-rows .rows-item .pp-name{
        position: absolute;
        bottom: 0;
        left: 0;
        background: #232323;
        color: white;
        font-size: .8rem;
        padding: 0px 4px;
        letter-spacing: .5px;
        font-family: unset;
    }

            .top-rows .rows-item .pp-name .icon{
                height: 15px;
                width: 15px;
                vertical-align: middle;
            }


.main-rows{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px;
}



/*Animation Elements*/
.is-focus{
    box-shadow: 0 0 0px 1px var(--lightgreen);
    z-index: 3;
    animation-name: is-focus;
    animation-duration:.5s;
    animation-iteration-count: 5;
}

@keyframes is-focus{
  from {  box-shadow: 0 0 0px 1px transparent; }
  to {  box-shadow: 0 0 0px 1px var(--lightgreen); }
}


/*Sider , aside*/
body[data-devices="desktop"] .sider{
    position: relative;
    transform: translateX(0%);
}

body[data-devices="ipad"] .sider{
    position: absolute;
    width: 100%;
    /* transform: translateX(100vw); */
}
  
body[data-devices="mobile"] .sider{
    position: absolute;
    width: 100vw;
    /* transform: translateX(100%); */
}

/*Mobile Situation*/
[data-mobile-views="on"]{
    transform: translateX(0%);
}

[data-mobile-views="off"]{
    transform: translateX(100%);
}

aside.sider{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1000;
    background: linear-gradient(180deg, var(--darkblue) 30%, #1e5ab9);
    transition: .3s;
}   

    .sider .header{
        display: flex;
        padding: 10px;
        margin: 0;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    }

    .sider ul{ 
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    .sider .pp-single{
        display: flex;
        font-size: 0.85rem;
        padding: 16px 7px;  
        box-shadow: 0 1px 0px 0px #335d9a;

    }

    .sider .pp-single img{ 
        width: 20px;
        height: 20px;

    }

    .sider .pp-single .pp-name{
        margin-left: 6px;
        white-space: nowrap;
    }

    .sider .pp-single .pp-tools{
        margin-left: auto;
    }


/*Position*/
.fixed-bottom{
    position: fixed; 
    bottom: 0 !important;
}














/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
